.App {
  font-family: sans-serif;
  text-align: center;
}

.navbar {
  height: 100px;
  background-color: aqua;
  margin-bottom: 15px;
  text-align: center;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px;
  width: 80%;
  font-size: 20px;
  font-weight: 100;
  color: #333333;
}
input[type="checkbox"] {
  margin-right: 10px;
  color: #941616;
}
